In [0]:
"""
Assignment

Create 2 data frame and and join them.

Create a dataframe and replace the null values of a column with some meaningful thing using withcolumn.

Note: Please use below csv to create data frame.

CSV FILES - Employee_info.csv & Employee_info_1.csv
"""

In [0]:
# Read Employee_info.csv file
df_Employee = spark.read.format("csv").option('inferSchema', True).option("header", True).option("sep", ",").load("/FileStore/tables/Employee_info.csv")
display(df_Employee)

Id,Name,Department
100,Aman,Data Engineering
200,Saurabh,Data Engineering
300,Mohit,DavOps
400,Kashif,DAvOps
500,Eniya,DAvOps
600,Anand,DAvOps
700,Murali,Data Engineering
800,Ramesh,Null
900,Suresh,Null
1000,Himanshu,Null

In [0]:
# Read Employee_info_1.csv file
df_Employee1 = spark.read.format("csv").option('inferSchema', True).option("header", True).option("sep", ",").load("/FileStore/tables/Employee_info_1.csv")
display(df_Employee1)

Id,Employee_id,City,State
100,2555,Indore,MP
200,2456,Indore,MP
300,3265,Surat,GJ
400,7896,Banglore,KA
500,4562,Banglore,KA
600,8524,Banglore,KA
700,6666,Banglore,KA
800,9853,Banglore,KA
900,1594,Null,JK
1000,7894,Null,JK

In [0]:
# Join DataFrame:-
df_join= df_Employee.join(df_Employee1,df_Employee.Id == df_Employee1.Id, "Full")
display(df_2_join)

Id,Name,Department,Id,Employee_id,City,State
100,Aman,Data Engineering,100,2555,Indore,MP
200,Saurabh,Data Engineering,200,2456,Indore,MP
300,Mohit,DavOps,300,3265,Surat,GJ
400,Kashif,DAvOps,400,7896,Banglore,KA
500,Eniya,DAvOps,500,4562,Banglore,KA
600,Anand,DAvOps,600,8524,Banglore,KA
700,Murali,Data Engineering,700,6666,Banglore,KA
800,Ramesh,Null,800,9853,Banglore,KA
900,Suresh,Null,900,1594,Null,JK
1000,Himanshu,Null,1000,7894,Null,JK

In [0]:
from pyspark.sql.functions import when, regexp_replace

Remove_Null_Values = df_join.withColumn('Department',regexp_replace('Department', 'Null', 'Data Science'))\
  .withColumn('City', regexp_replace('City', 'Null', 'Mumbai'))\
  .show(truncate=False)

+----+--------+----------------+----+-----------+--------+-----+
|Id  |Name    |Department      |Id  |Employee_id|City    |State|
+----+--------+----------------+----+-----------+--------+-----+
|100 |Aman    |Data Engineering|100 |2555       |Indore  |MP   |
|200 |Saurabh |Data Engineering|200 |2456       |Indore  |MP   |
|300 |Mohit   |DavOps          |300 |3265       |Surat   |GJ   |
|400 |Kashif  |DAvOps          |400 |7896       |Banglore|KA   |
|500 |Eniya   |DAvOps          |500 |4562       |Banglore|KA   |
|600 |Anand   |DAvOps          |600 |8524       |Banglore|KA   |
|700 |Murali  |Data Engineering|700 |6666       |Banglore|KA   |
|800 |Ramesh  |Data Science    |800 |9853       |Banglore|KA   |
|900 |Suresh  |Data Science    |900 |1594       |Mumbai  |JK   |
|1000|Himanshu|Data Science    |1000|7894       |Mumbai  |JK   |
+----+--------+----------------+----+-----------+--------+-----+